<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
</head>
<body>
    <h1>
        <div style="color: blueviolet;">Contact us for more information</div>
    </h1>
</body>
</html>






<!-- Create a Django project inside a folder named multi_page_project and an app called main_app.
Inside main_app/templates/main_app/, create three separate HTML files:
home.html – This page should display "Welcome to the Home Page" inside a div.
about.html – This page should contain a short description of the app inside a div.
contact.html – This page should display "Contact us for more information" inside a div.
Each page should have a simple structure with a title, a heading inside an h1 tag, and a div tag.
Make sure all three pages can be accessed from the browser. -->
